@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

html, body {

}

i{
  font-style: initial;
}

  .verssion{
    float: right;
    color: lightgrey;
  }

  .break-countter{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
  }

  .count-cnt > p {
    display: inline-block;
  }




/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.container{
  display: flex;
  align-items: stretch;
}



.Player-info{


}

.UserName{



}

.CompanyCode{



}

.card-body{
  display: flex;
  align-items: flex-end;
}

.Break-Heat-Map{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  font-size: 15px;
  text-transform: uppercase;
  width: 80%;
  
}

.heat-map-box{
  display: inline-block;
  border: 1px solid #0000003b;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin: 3px;
}

.box-sequential{
  background-color: #ddcdff;
} 
.box-skip{

  background-color: #ab73ff;

} 
.box-short{
  background-color: #8000ff;
} 
.box-long{
  background-color: #5903af;
}

.widget-icon {
  color: #727cf5;
  font-size: 20px;
  background-color: rgba(114,124,245,.25);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  display: inline-block;
  float: left;
}

.mdi-account-multiple::before {
  content: ' \F4CF ';
  font-family: "bootstrap-icons";
  justify-content: flex-end;
}

.bi-currency-euro::before{
  content: ' \F637 ';
  font-family: "bootstrap-icons";
  justify-content: flex-end;
  padding: 8px;
  font-weight: bold !important;

}

.block-txt{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 5%;
  padding-left: 20px;

}

.bet,.net,.margin-block,.name,.company {
  margin-left: 10px;
}

.top{
  margin-bottom: 15px;
}

.break-countter {
  display: flex;
  justify-content: center;
}

.count-cnt {
  display: flex;
  margin-right: 15px;
}

.count-cnt > p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 3px;
}

#bar-chart{
  height: 600px;
}